/* Main style */
html {
    height: 100%;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.nav-wrapper {
    background-color: #2d1e2f;
}

/* index panels styole */

.index-panel {
    background-color: #f7b32b;
}

/* Card image style */
.card-image img {
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* View Recipe  image style*/
.view-recipe-img {
    position: relative;
    width: 100%;
    padding-bottom: 70%;
    overflow: hidden;
    display: flex;
}

.view-recipe-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-title {
    color: #f7b32b;
    font-weight: bold;
    text-align: center;
}

/* Password Error message style */
#error-message {
    display: none;
    color: red;
}

/* Card content style */
.card-content {
    height: 170px;
    width: 100%;
    overflow: hidden;

}