@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/* Main style */
html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.nav-wrapper {
    background-color: #2d1e2f;
}

/* index panels styole */

.index-panel {
    background-color: #f7b32b;
}

/* Card image style */
.card-image img {
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* View Recipe  image style*/
.view-recipe-img {
    position: relative;
    width: 100%;
    padding-bottom: 70%;
    overflow: hidden;
    display: flex;
}

.view-recipe-img img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-title {
    color: #f7b32b;
    font-weight: bold;
    text-align: center;
}

/* Password Error message style */
#error-message {
    display: none;
    color: red;
}

/* Card content style */
.card-content {
    height: 170px;
    width: 100%;
    overflow: hidden;

}

/* Dropdown menu style */
.dropdown-trigger.btn.menu-btn {
    background-color: #f72c25;
    color: #ffffff;
}

.btn {
    background-color: #2d1e2f;
}

.card .card-image .card-title {
    color: #f72c25;
    font-weight: bold;
}


/* Hide the img tag if its src attribute is empty */
.card-image img[src=""],
.card-image img:not([src]) {
    display: none;
}

/* Flask flash Alerts messages style */
.alert-success {
    color: white;
    background-color: green;
    border: 1px solid darkgreen;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.alert-error {
    color: white;
    background-color: #f72c25;
    border: 1px solid darkred;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

.page-footer {
    background-color: #2d1e2f;
}

/* Increase font size for social icons within the list */
ul li a .fa-facebook,
ul li a .fa-instagram,
ul li a .fa-youtube {
    font-size: 24px;
    padding: 4px;
}

/* Fix index top panels height */
.equal-height-panels {
    display: flex;
    flex-wrap: wrap;
}

/* Style for index top panels height  and title */
.equal-height-panels>.col {
    display: flex;
    flex-direction: column;
}

.equal-height-panels .card-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.equal-height-panels .card-panel .btn {
    margin-top: auto;
}

.index-card-title {
    font-size: 1.5rem;

}