{% extends "base.html" %}
{% block content %}

<div class="row card-panel grey lighten-5">
    <form action="{{ url_for('search') }}" method="GET" class="col s12">
        <div class="row center-align valign-wrapper">
            <div class="input-field col s12">
                <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                <input type="text" name="query" id="query" placeholder="Search" class="validate" minlength="3" required>
                <label for="query">Search Recipe</label>
            </div>
            <div class="col s12 m4">
                <a href="{{ url_for('allrecipes') }}" class="red btn">Reset</a>
                <button type="submit" class="btn light-blue darken-1">
                    <i class="fas fa-search"></i> Search</button>
            </div>
        </div>
        {% if query %}
        <h4 class="center blue-text">Search Results for "{{ query }}"</h4>
        {% endif %}
    </form>
</div>

<h4 class="center">All Recipes</h4>

<div class="container">
    <div class="row">
        {% for recipe in recipes %}
        <div class="col s12 m6 l4 xl4">
            <div class="card">
                <div class="card-image">
                    <img src="{{ recipe.img_url }}">
                    <span class="card-title">{{ recipe.name }}</span>
                </div>
                <div class="card-content">
                    <p>Recipe by: {{ recipe.user.username }}</p>
                    <p>Rating: {{ recipe.rating }} out of 5</p>
                    <p>Time: {{ recipe.time }} minutes</p>
                    <p>Difficulty: {{ recipe.difficulty }}</p>
                    <p>Category: {{ recipe.category.category_name }}</p>
                </div>
                <div class="card-action center">
                    <a href="{{ url_for('view_recipe', recipe_id=recipe.id) }}">
                        <button class="btn">View Recipe</button>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}