<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://kit.fontawesome.com/f96d19cbcd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Time to Cook</title>
</head>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">TimeToCook</h5>
                <p class="grey-text text-lighten-4">Add your recipes, share them with your friends!</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Social Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://facebook.com" target="_blank"
                            rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li><a class="grey-text text-lighten-3" href="https://instagram.com" target="_blank"
                            rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a class="grey-text text-lighten-3" href="https://youtube.com" target="_blank"
                            rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2024 TimeToCook Made with <i class="fa-solid fa-heart"></i>
        </div>
    </div>
</footer>


</html>