<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://kit.fontawesome.com/f96d19cbcd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>Time to Cook</title>
</head>

<body>
    <header>
        <!-- top navbar -->
        <div class="container">
            <nav>
                <div class="nav-wrapper">
                    <a href="{{ url_for('index') }}" class="brand-logo primary-text">TimeToCook</a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('favourites') }}">Favourites</a></li>
                        <li><a href="{{ url_for('categories') }}">Categories</a></li>
                        <li><a href="{{ url_for('allrecipes') }}">All Recipes</a></li>
                        <li>
                            <!-- Dropdown Trigger -->
                            <a class='dropdown-trigger btn menu-btn' href='#' data-target='dropdown1'>
                                {% if session.get('username') %}
                                Hi, {{ session.get('username') }}!
                                {% else %}
                                Account
                                {% endif %}
                            </a>

                            <!-- Dropdown Structure -->
                            <ul id='dropdown1' class='dropdown-content'>
                                {% if session.get("user_id") %}
                                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                                <li><a href="{{ url_for('myrecipes') }}">My Recipes</a></li>
                                <li><a href="{{ url_for('add_recipe') }}">Add Recipes</a></li>
                                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                                {% if session.get("is_admin") %}
                                <li><a href="{{ url_for('users') }}">Manage Users</a></li>
                                {% endif %}
                                {% else %}
                                <li><a href="{{ url_for('login') }}">Log In</a></li>
                                <li><a href="{{ url_for('register') }}">Register</a></li>
                                {% endif %}
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
        </div>
        <ul class="sidenav" id="mobile-demo">
            {% if session.get("user_id") %}
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('myrecipes') }}">My Recipes</a></li>
            <li><a href="{{ url_for('add_recipe') }}">Add Recipes</a></li>
            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% if session.get("is_admin") %}
            <li><a href="{{ url_for('users') }}">Manage Users</a></li>
            {% endif %}
            {% else %}
            <li><a href="{{ url_for('login') }}">Log In</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('categories') }}">Categories</a></li>
            <li><a href="{{ url_for('allrecipes') }}">All Recipes</a></li>

            {% endif %}
        </ul>
    </header>

    <!--flash message-->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="container">
        <div class="card-panel">
            <h5 class="alert-{{ category }} center">{{ message }}</h5>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}


    <main>
        <!-- main content -->
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

<!-- Footer -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">TimeToCook</h5>
                <p class="grey-text text-lighten-4">Add your recipes, share them with your friends!</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Social Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://facebook.com" target="_blank"
                            rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li><a class="grey-text text-lighten-3" href="https://instagram.com" target="_blank"
                            rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a class="grey-text text-lighten-3" href="https://youtube.com" target="_blank"
                            rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2024 TimeToCook Made with <i class="fa-solid fa-heart"></i>
        </div>
    </div>
</footer>

</html>