{% extends "base.html" %}
{% block content %}

<div class="container">
    <h4 class="center-align">Categories</h4>
    <div class="center-align">
        <a href="{{ url_for('add_categories') }}" class="btn">Add Category</a>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for category in categories %}
        <div class="col s12 m6 l4">
            <div class="card grey darken-3">
                <div class="card-content white-text">
                    <span class="card-title">{{ category.category_name }}</span>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('edit_category', category_id=category.id) }}" class="btn green">Edit</a>
                    <!-- Modal Trigger -->
                    <a class="waves-effect waves-light btn modal-trigger red" href="#modal{{category.id}}">Delete</a>

                    <!-- Modal Structure -->
                    <div id="modal{{category.id}}" class="modal">
                        <div class="modal-content">
                            <h4 class="center">Delete Category</h4>
                            <p class="center">Please confirm that you want to delete this category. This action will
                                delete all recipes
                                under this category.</p>
                        </div>
                        <div class="modal-footer center-align">
                            <a class="modal-close btn green">No</a>
                            <a href="{{url_for('delete_category', category_id=category.id)}}"
                                class="modal-close center btn red">Yes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}