{% extends "base.html" %}
{% block content %}

<h4 class="center red-text">Welcome</h4>

<div class="container">
    <div class="row equal-height-panels">
        <div class="col s12 m6 l4 center-align">
            <div class="card-panel index-panel">
                <i class="fa-solid fa-layer-group  fa-3x" aria-hidden="true"></i>
                <h4 class="page-title index-card-title">Portofolio</h4>
                <p>Add your own recipes and share them with the community.</p>
                <a href="{{ url_for('myrecipes') }}" class="btn waves-effect waves-light ">View My
                    Recipes</a>
            </div>
        </div>
        <div class="col s12 m6 l4 center-align">
            <div class="card-panel index-panel">
                <i class="fa-solid fa-users fa-3x" aria-hidden="true"></i>
                <h4 class="page-title index-card-title">Discover</h4>
                <p>Search for recipes and add them to your favourites.</p>
                <a href="{{ url_for('allrecipes') }}" class="btn waves-effect waves-light ">Browse All
                    Recipes</a>
            </div>
        </div>
        <div class="col s12 m12 l4 center-align">
            <div class="card-panel index-panel">
                <i class="fa-solid fa-star fa-3x " aria-hidden="true"></i>
                <h4 class="page-title index-card-title">Save</h4>
                <p>Save your favourite recipes for later use.</p>
                <a href="{{ url_for('favourites') }}" class="btn waves-effect waves-light ">See
                    Favourites</a>
            </div>
        </div>
    </div>
</div>
<h4 class="center">Most rated recipes</h4>

<div class="container">
    <div class="row">
        {% for recipe in rated_recipes %}
        <div class="col s12 m6 l4">
            <div class="card">
                <div class="card-image">
                    <img src="{{ recipe.img_url }}">
                    <span class="card-title">{{ recipe.name }}</span>
                </div>
                <div class="card-content">
                    <p>Recipe by: {{ recipe.user.username }}</p>
                    <p>Rating: {{ recipe.rating }} out of 5</p>
                    <p>Time: {{ recipe.time }} minutes</p>
                    <p>Difficulty: {{ recipe.difficulty }}</p>
                    <p>Category: {{ recipe.category.category_name }}</p>
                </div>
                <div class="card-action center">
                    <a href="{{ url_for('view_recipe', recipe_id=recipe.id) }}" class="btn">View Recipe</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}